.textSpan{width:166px; line-height:16px; padding-top:4px;}
.textSpan2{width:188px; line-height:16px; padding-top:4px;}
.textLabel{ width:40px; vertical-align: top;}
.textLabel2{ width:50px; vertical-align: top;}
.textLabel3{ width:60px; vertical-align: top;}

.addressParent{ padding-top: 10px; cursor: pointer;}
.addressParent p{ padding: 0 0 0 20px; line-height: 28px; margin-bottom: 2px;}
.addressParent p img{ display: inline-block; width: 9%; vertical-align: top; margin-top: 2px;}
.addressParent p span{ display: inline-block;}
.addressParent p b{ font-weight: normal; display: inline-block;}

.foldUp{ position: absolute; right: 30px; bottom: 50px; cursor: pointer; z-index: 100;}

