*{ margin: 0; padding: 0; font-family: 'microsoft yahei'; font-size: 14px; list-style: none; color: #fff;}
a{ cursor: pointer;}
body{ background: #202b33; min-width: 1002px;}
.hide{ display: none;}
img{ border: none;}

.infoWrapHeader{ max-width: 1900px; margin: 10px auto; border:none; margin-bottom:0; height:40px;}
.infoWrap{ max-width: 1900px; margin: 10px auto; border-bottom: 1px solid #303a41; overflow: hidden; position: relative;}
.chartsParent{ width: 49%; float: left; border-right: 1px solid #303a41; padding-right: 1%; height: 330px; clear: both; overflow: hidden; margin: 10px 0;}

/*组件发电详情*/
.componentPowerDetail{ position: relative; margin-top: 20px;}

/*仪表*/
#powerMeter{ float: left; width: 28%; position: relative;}
#myPolar{ position: absolute; left: 0; top: 0}

#totalSum{ float: left; width: 42%;}
#saveSum{ float: left; width: 30%;}

#totalSum li{ float: left; width: 30%; margin-right: 3%; display: inline; background: #2c4052; color: #fff; text-align: center; 
padding: 10px 0; height: 249px;}
#saveSum li img,#saveSum li span, #saveSum li h4,#totalSum li img,#totalSum li span, #totalSum li h4{ display: block; text-align: center; margin: 0 auto;}
#totalSum li img{ margin-top: 20px; height: 60px}
#totalSum li span{ padding: 25px 0; color: #f2f3f4; font-size: 16px;}
#totalSum li i{ display: block; text-align: center; font-style: normal; font-size: 12px; color: #5c6c7a; padding-top: 10px;}
#totalSum li em{ font-style: normal;font-size: 12px; color: #5c6c7a;}
#totalSum li h4{ display: block; color: #fff; font-size: 1.8em; font-family: Segoe UI Symbol;}

#saveSum li{ float: left; width: 45%; margin-right: 5%; display: inline; background: #2c4052; color: #fff; text-align: center; 
padding: 10px 0; height: 106px; margin-bottom: 16px;}
#saveSum li span{ color: #f2f3f4; font-size: 12px; padding: 6px 0;}
#saveSum li img{ width: 44px;}
#saveSum li h4{ display: block; color: #fff; font-size: 1.2em; font-family: Segoe UI Symbol;}

/*电站列表---下拉*/
.pwsStat{ display: inline-block; position: relative; padding:10px 10px 0 14px; height: 30px;}
.pwsStat span.pwsText{display: block;border:color: #fff;font-size: 0.8rem;background-color: #4e5e6b;padding: 4px 5px;width: 160px;
cursor: pointer; border-radius:2px;}
.pwsStat span.pwsText em{ font-style: normal; width: 140px; display:inline-block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.pwsStat span.pwsText i{border:5px solid transparent;border-top: 6px solid #fff;float: right;margin-right: 5px;margin-top: 8px;}
.pwsStat .level1{ }
.pwsStat .level1,.pwsStat .level2{background-color: #4e5e6b;color: #fff;font-size: 0.8rem;border:1px solid #959596;border-top: none;border-bottom: none;
cursor: pointer;}
.pwsStat .level1{ width: 350px; height: 400px; overflow: hidden; overflow-y: scroll; position: absolute; left: 13px;
 top: 40px; z-index: 999}
.pwsStat .level1>li,.pwsStat .level2>li{padding: 5px;text-align: left;border-bottom: 1px solid #959596;position: relative;}
.pwsStat .level2{ position: absolute; z-index: 999; left: 144px;width: 180px;top: -1px; border-top:1px solid #959596;background-color:#172541;}

.back{ float: left;  margin: 11px 0 0 16px; background: #2c4052; padding: 4px 12px;}
.back img{ width: 90%; display: block; margin-top: 1px;}

/*组件统计*/
.componentList{ position: absolute; right: 200px; top: 0; height: 26px; line-height: 26px; width: 260px; 
background: #384b59;border-radius: 2px;}
.componentList label{ color: #27bb77; position: absolute; top: 0; right: 270px; width: 30px;}
.componentList dl{ font-size: 12px; width: 260px; display: none; margin-top: 1px; background: #384b59; border-radius: 2px;}
.componentList dd{ cursor: pointer; padding-left: 10px;}
.componentList span{ display: block; padding-left: 10px; cursor: pointer; height: 26px; line-height: 26px; 
width: 230px;  white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.componentList em{ border:5px solid transparent;border-top: 6px solid #fff;float: right;margin-right: 8px;margin-top: 9px;}

.statDetail{ position: absolute; right: 14px; top: 10px; height: 310px; background-color: rgba(32,43,51,.6); width: 300px; z-index: 99;
overflow: hidden;}

.addressParent{ position: relative;}
.addressParent.all{ padding-top: 2px;}
.addressParent.all p{ padding: 0 0 0 20px; line-height: 26px; margin-bottom: 2px;}

/*弹框*/
#mask{ position: fixed; left: 0; top: 0; z-index: 999; background-color: rgba(0,0,0,.6); width: 100%; height: 100%; display: none;}
.dialogWrap{ position: fixed; z-index: 999; width: 90%; height: 580px; margin-top: -310px; left: 5%; top:50%; background: #2c4052; padding: 20px 0;
 display: none; }
.dialogWrap .dialogHeader{ overflow: hidden; clear: both; padding: 0 30px 10px;}
.dialogWrap .title{ font-size: 16px; font-weight: both; color: #27bb77;}
.dialogWrap .close{ float: right;}
.powerCal{ border: 2px solid #27bba4; border-radius:3px; margin: 0 30px 20px; padding: 20px; position: relative;}
.powerCal ul,.powerCal dl{ overflow: hidden; clear: both;}
.powerCal li,.powerCal dd{ float: left; width: 33%; padding: 3px 0;}

.datePickerParent#dialogDatePickerFrom,.datePickerParent#dialogDatePickerTo,#dialogOkBtn{ bottom: -46px; top: auto; z-index: 9991; position: absolute;}
.datePickerParent#dialogDatePickerFrom{ right: 280px;}
.datePickerParent#dialogDatePickerTo{ right: 60px;}
#dialogOkBtn{ right: 0; display: block; border: none; background: #27bb77; color: #fff; width: 50px;  
height: 26px; line-height: 26px; border-radius: 2px; cursor: pointer;}

.green{ color: #27bb77}

/*组件加载数据时的蒙版*/
.componentMask,.componentEnpty{ position: absolute; left: 0; top: -20px; height: 238px; background-color: rgba(0,0,0,.6); text-align: center;
width: 100%; padding-top: 220px;}
.componentDialogMask,.componentDialogEnpty{ position: absolute; left: 0; bottom:0; height: 230px; background-color: rgba(0,0,0,.6); text-align: center;
width: 100%; padding-top: 160px; z-index: 9992}

.componentEnpty{ background: none; display: none; top: 40px; height: 100px; padding-top: 160px}
.componentDialogEnpty{ background: none; display: none; top: 40px; height: 100px; padding-top: 389px}
.realTimeEnpty{position: absolute; left: 46%; top: 158px; color: #fff;}

/*组件通道详情颜色*/
.cee7474{ color: #ee7474;}
.c7a9ee9{ color: #7a9ee9;}
.ca267ff{ color: #a267ff;}
.c3fd69f{ color: #3fd69f;}
