.chartsParent{ position: relative;}
.dateTab{ position: absolute;; left: 3%; top: 0; width: 200px; background: #384b59; border-radius:16px; padding: 0 10px;
height:26px; line-height: 26px; color: #fff;}
.dateTab dl{ clear: both; overflow: hidden; }
.dateTab dd{ float: left; width: 19%; text-align: center; cursor: pointer;}
.dateTab dd:first-child{ width: 24%; text-align: center;}
.dateTab dd.on{ background: #27bb77; border-radius:12px;}

.datePickerParent{ position: absolute; right: 1.5%; top: 0;  height: 26px; line-height: 26px;}
.datePickerParent label{ color: #27bb77;}
.datePickerParent input{ background: #384b59; border-radius: 3px; border: none; width: 120px; height: 26px; 
line-height: 26px; padding-left: 6px; cursor: pointer; font-weight: normal; font-size: 12px;}
.ui-datepicker-trigger {
    position: absolute;
    right: 8px;
    top: 5px;
}

#dateImg{ position: absolute; right: 4px; top: 4px;}